
body{font-family: 'Open Sans', sans-serif;

}
.page1 {
    width: 1332px;
    height: 970px;
}
.pryn {
    color: rgb(20, 65, 150);
    margin-top: 50px;
    margin-left: 121px;
    font-family: 'Open Sans', sans-serif;
}
.che {
    color: rgb(240, 191, 29);
    margin-top: 50px;
    margin-left: 235px;
    font-family: 'Open Sans', sans-serif;
}
.txt-w-pic{
    position: absolute;
    width: 530px;
    height: 235px;
    left: 815px;
    top: 2500px;
    font-size: 24;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
    color: rgb(20, 65, 150);
    letter-spacing: 1px;
}
.transport {
    width: 751px;
    height: 512px;
    margin-top: 70px;
    margin-left: 38px;
}

.flower {
    width: 450px;
    height: 548px;
    margin-left: 850px;
    margin-top: -298px;
}
.upravlina {
    width: 100%;
    height: 820px;
    background-color: rgba(11, 18, 34, 0.89);
    margin-left: -9px;
    margin-top: -21px;
    
}

.nashe {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    color: white;
    margin-left: 548px;
    margin-top: 55px;
    position: absolute;
}
.photos {
    width: 1348px;
    height: 750px;
    padding-top: 2px;
    margin-left: 70px;
    
}
.f-block{
    width: 460px;
    height: 550px;
    margin-top: 150px;
    margin-left: -4px;
}
.chubina {
    width: 410px;
    height: 302px;
    margin-left: 15px;
    margin-top: 30px;
    position: absolute;
   background-repeat: no-repeat;
}
.chub-f-txt {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 8px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    margin-left: 55px;
    padding-top: 350px;
    
}
.chub-s-txt{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    margin-left: -9px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
}
.s-block{
    width: 460px;
    height: 550px;
    margin-top: -554px;
    margin-left: 435px; 
}
.bond {
    width: 421px;
    height: 302px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
   background-repeat: no-repeat;
}
.bond-f-txt {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 8px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    margin-left: 15px;
    padding-top: 350px;
    align-content:center;
    text-align:  center;
}
.bond-s-txt {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    margin-left: 15px;
    padding-top: 25px;
    align-content: center;
    text-align: center;
}
.t-block {
    width: 460px;
    height: 550px;
    margin-top: -554px;
    margin-left: 890px; 
}
.skich {
    width: 421px;
    height: 302px;
    margin-left: 20px;
    margin-top: -2px;
    position: absolute;
   background-repeat: no-repeat;
}
.skich-f-txt {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 8px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    margin-left: 15px;
    padding-top: 332px;
    align-content:center;
    text-align:  center;
}
.skich-s-txt {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    margin-left: 15px;
    padding-top: 25px;
    align-content: center;
    text-align: center;
}
.main-page {
    width: 100%;
    height: 583px;
    margin-left: 50px;
}
.nash {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-left: 70%;
    margin-top: 4%;
    font-size: 30px;
    
}
.doss {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-left: 64%;
    margin-top: 10px;
    font-size: 30px;

}
.blocks {
    width: 954px;
    height: 290px;
}
.block1 {
    width: 298px;
    height: 291px;
    margin-left: 150px;
    border: 2px solid #488dc9;
    border-radius: 2%;
}
.buss {
    margin-left: 117px;
    margin-top: 45px;
}
.block2 {
    width: 298px;
    height: 291px;
    margin-left: 550px;
    margin-top: -292px;
    border: 2px solid #488dc9;
    border-radius: 2%;
}
.phone {
    margin-left: 117px;
    margin-top: 45px;
    width: 65px;
    height: 66px;
}
.block3 {
    width: 298px;
    height: 291px;
    margin-left: 950px;
    margin-top: -292px;
    border: 2px solid #488dc9;
    border-radius: 2%;
}
.book {
    margin-left: 117px;
    margin-top: 45px;
    width: 65px;
    height: 66px;
}
.f-line-top {
    position: absolute;
width: 230px;
height: 2px;
left: 240px;
top: 1150px;
background-color:#307abb;
transform: rotate(-0.25deg);
}
.f-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-content: center;
    margin-top: 74px;
    margin-left: 3px;
    color: #307abb;
    text-align: center;
}
.f-line-down {
    position: absolute;
width: 230px;
height: 2px;
left: 240px;
top: 1270px;
background-color:#307abb;
transform: rotate(-0.25deg);
}
.s-line-top {
    position: absolute;
width: 230px;
height: 2px;
left: 640px;
top: 1150px;
background-color:#307abb;
transform: rotate(-0.25deg);
}
.s-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-content: center;
    margin-top: 77px;
    margin-left: 3px;
    color: #307abb;
    text-align: center;
}
.s-line-down {
    position: absolute;
width: 230px;
height: 2px;
left: 640px;
top: 1270px;
background-color:#307abb;
transform: rotate(-0.25deg);
}
.t-line-top {
    position: absolute;
width: 230px;
height: 2px;
left: 1040px;
top: 1150px;
background-color:#307abb;
transform: rotate(-0.25deg);
}
.t-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 57px;
    margin-left: 3px;
    color: #307abb;
    text-align: center;
    align-content:center;
}
.t-line-down {
    position: absolute;
width: 230px;
height: 2px;
left: 1040px;
top: 1270px;
background-color:#307abb;
transform: rotate(-0.25deg);
}
.main{
    width: 100%;
    margin: 0 auto;
   
}
.page {
    background: url(/Головна/main.jpg);
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: 15px;
    padding-left: 50px;
}
.page>h1{
    margin-left: 50px;
}
.title {
    position: absolute;
    padding-left: 415px;
    padding-top: 360px;
   
    letter-spacing: 3px;
    color: aliceblue;
}
.v {
    width: 220px;
height: 50px;
border: 1px solid #70859100;
background-color: rgb(149, 188, 240);
box-sizing: border-box;
border-radius: 2px;
letter-spacing: 1px;
align-items: center;
padding-top: -5px;
font-weight: 700;
margin-bottom: 35px;
margin-top: 450px;
margin-left: 420px;

}
.b {
    width: 220px;
height: 50px;
border: 1px solid #c4bbbb;
color:aliceblue;
box-sizing: border-box;
border-radius: 2px;
text-align: center;
padding-top: 15px;
font-weight: 700;
margin-bottom: 35px;
margin-top: -83px;
margin-left: 790px;
letter-spacing: 1px;
}
.main_dos > h1 {
    width: 740px;
    height: 15px;
    margin-top: 30px;
    margin-left: 550px;
    letter-spacing: 1px;
}
.card1 {
    height: 15px;
    margin-top: 150px;
    margin-left: 550px;
    letter-spacing: 1px;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 40px;
    height: 49px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo>h1{
    font-weight: 400;
font-size: 20px;
line-height: 25px;
/* or 125% */

text-transform: uppercase;

color: #FF8D69;
margin-left: 20px;
}

.a1,.a2{
    text-decoration: none;
    margin-left: 30px;
}
.a2{
    font-weight: 700;
font-size: 18px;
line-height: 20px;
/* or 100% */


color: #000000;



}
.a1{
    font-weight: 700;
font-size: 18px;
line-height: 20px;
/* or 111% */

text-align: center;
letter-spacing: 0.025em;

color: #986969;


}
.school>h1{
    margin-left: 600px;
   padding-top: 40px;
}
.school1{
margin-left: 15px;
margin-top: -50px;
border-radius: 5px;
}
.school1>img{
    width: 241px;
height: 371px;
}
.school1>h1{
    width: 250px;
height: 56px;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 156% */
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
}
.school2{
    margin-left: 270px;
    margin-top: -350px;
}
.school2>h1{
    width: 250px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-left: 50px;
}
.school2>img{
    width: 359px;
    height: 520px;
}
.school3{
    margin-left: 370px;
    margin-top: -620px;
}
.school3>h1{
    width: 470px;
height: 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.school3>img{
    width: 473px;
}
.school4{
    margin-left: 870px;
    margin-top: -500px;
}
.school4>h1{
    width: 268px;
height: 54px;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 156% */
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
margin-left: 30px;
}
.school4>img{
    width: 350px;
    height: 508px;
}
.school{
    width: 100%;
    height: 819px;
    background-color: 
    #192024;
}
.school>h1{
    width: 373px;
height: 79px;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* or 125% */
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.all_place{
    display: flex;
   
}
.all1{
    margin-left: 150px;
}
.all2{
    margin-left: 700px;
}
.all1>p{
    width: 237px;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.all2>p{
    width: 237px;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.place{
    margin-top: 200px;
}
.place>h1{
    width: 487px;
height: 115px;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
margin-left: 470px;
}
.footer{
    height: 101px;
    width: 100%;
    background: #383838;
}
.flover{
    height: 600px;
   position: absolute;
   margin-top: 600px;
   margin-left: 490px;
}
.bird{
    position: absolute;
    margin-top: 100px;
    margin-left: 380px;
}